# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Tests
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local data
data/database/*.db
data/indexes/*.faiss

# User media
local_media/